<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
<section class="inputSection">
    <div class="container input-container mt-5 col-lg-6">
        <h2 class="text-center mb-3 restock-header">Enter Restock Item Info</h2>
        <form action="/restock/createRestock" method='POST'>
            <div class="form-floating mb-3">
                <input type="text" class="form-control shadow text-center" id="floatingRestockBrand" placeholder="Brand" name='brand'>
                <label for="floatingRestockBrand">Brand </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" required class="form-control shadow text-center" id="floatingRestockDescription" placeholder="Description" name='description'>
                <label for="floatingRestockDescription">Description *</label>
            </div>
            <div class="d-flex justify-content-center quantity-row">
                <div class="quantity-increment d-inline-flex align-items-center justify-content-center col">
                    <div class="minus">
                        <i class="fa fa-minus-circle" id="quantityMinus"></i>
                    </div>
                    <div class="form-floating mb-3 col-5">
                        <input type="number" required min="0" value="0" step="1" class="form-control shadow quantity-input text-center" id="floatingQuantity" placeholder="Quantity" name='quantity'>
                        <label for="floatingQuantity"> Quantity *</label>
                    </div>
                    <div class="plus">
                        <i class="fa fa-plus-circle" id="quantityPlus"></i>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control shadow text-center" id="floatingRestockStore" placeholder="Store" name='store'>
                <label for="floatingLocation">Store</label>
            </div>
            <div class="form-floating">
                <input class="form-control text-center shadow" type="text" name="comments" placeholder="Comments" id="floatingRestockComments" style="height: 100px">
                <label for="floatingRestockComments">Comments / Coupons / Deals</label>
                </div>
                <p class="text-white text-center required-text mt-2">* indicates required field</p>
            <div class="d-flex flex-row justify-content-center mt-3" id="newRestockButtons">
                <a href="/restock" class="btn btn-lg btn-secondary shadow mx-3" id="newRestockCancel">Cancel</a>
                <button type="submit" id="newRestockSubmit" class="btn btn-lg btn-primary shadow mx-3" data-dismiss="modal">Submit</button>
            </div>
        </form>
    </div>
</section>
</main>

<%- include('partials/footer') %>