<%- include('partials/header') %>

<main>
    <div class="index-container">
        <div class="index-left">
            <h1 class="index-header">Backstock</h1>
            <h3>Keep track of what you have on hand so you always know - even on the go!</h3>
        </div>
            <img class="shelf-img" src="assets/backstock.png" alt="shelf stocked with food">
    </div>
    <div class="index-buttons">
        <a class="index-btn shadow" href="/login"> Login</a>
        <a class="index-btn shadow" href="/signup"> Signup</a>
    </div>
<main>
    
<%- include('partials/footer') %>