<%- include('partials/header') %>

<main>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <div class="signup-container">
        <img class="login-img" src="assets/profile.png" alt="Backstock">
        <form action="/signup" method="POST">
            <div class="form-floating mb-5">
                <input type="text" class="form-control login-input shadow" id="floatingUserName" placeholder="User Name" name='userName' required>
                <label for="floatingUserName">User Name</label>
            </div>
            <div class="form-floating mb-5">
                <input type="email" class="form-control login-input shadow" id="floatingEmail" placeholder="Email" name='email' required>
                <label for="floatingEmail">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control login-input shadow password" id="floatingSignupPassword" placeholder="Password" name='password' data-toggle required>
                <i class="far fa-eye-slash signup-password-eye" id="signup"></i>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control login-input shadow password" id="floatingConfirmPassword" placeholder="Confirm Password" name='confirmPassword' data-toggle required>
                <i class="far fa-eye-slash signup-password-eye" id="confirm"></i>
                <label for="floatingConfirmPassword">Confirm Password</label>
            </div>
            <div class="text-center">
                <input class="login-btn shadow" type="submit">
            </div>
        </form>
    </div>
</main>

<%- include('partials/footer') %>